*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background: rgb(20, 20, 22);
    height: 80px;
    width: 100%;
}


nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 5px 0px;
    text-transform: uppercase;
    /* position: absolute; */
    margin: 10px;

}
nav ul li a::before{
    position: relative;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;

}
nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;

}

/* label .logo{
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
} */

/* .checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
} */
/* #check{
    display: none;
} */
/* @media screen (max-width: 952px){
    label.logo{
        font-size:30px;
        padding-left: 50px;

    }
    nav ul li a{
        font-size: 16px;
    }
} */
/* @media screen (max-width: 858px){
    .checkbtn{
        display: block;
        
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100;
        text-align: start;
        transition: all .5s;

    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
     nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0083e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
} */