.banner_bg {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 180px 0;
  margin: 0 !important;
}
.banner_text {
  font-weight: bolder;
  font-size: 3rem;
}
.banner_btn1,
.banner_btn2 {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 3px;
}
.banner_btn1,
.banner_btn2 {
  padding: 10px 20px;
  margin: 10px;
}
.banner_btn1 {
  padding: 10px 20px;
}
.banner_btn2 {
  padding: 10px 32px;
}
.down_icon {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .banner_btn2 {
  }
}
