.banner_bg {
  background-image: url(../img/banner/banner1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 180px 0;
}
.banner_btn1,
.banner_btn2 {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 5px;
}
.banner_btn1 {
  background-color: #4b00fe;
  padding: 10px 20px;
}
.banner_btn2 {
  background-color: #489b00;
  padding: 10px 32px;
}

