.home_body {
  background-image: url(../images/Background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  margin-top: -250px;
  padding-bottom: 50px;
}
.counter {
  padding-top: 300px;
  padding-bottom: 30px;
}

.count_image-border {
  border: 2px solid #ffffff;
  padding: 0px 0px 10px 0px;
  border-radius: 10px;
  width: 95%;
}
.count_image-border iframe {
  margin-left: 15px;
  margin-top: -10px;
  border-radius: 15px;
  width: 100%;
}

.count_card {
  background: transparent;
}

.count_btn1,
.count_btn2 {
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 5px;
  color: #fff;
  font-weight: 500;
}
.count_btn1 {
  padding: 10px 20px;
  margin-right: 20px;
}
.count_btn2 {
  padding: 10px 32px;
}

.count_card1,
.count_card2,
.count_card3 {
  border: 1px solid #bb6b24;
  border-radius: 5px;
  padding: 16px 10px;
  margin-top: 30px;
}
.count_card1 h3,
.count_card2 h3,
.count_card3 h3 {
  font-weight: 900;
}
.count_card-image {
  padding: 20px;
  border-radius: 10px;
  margin-right: 10px;
}

.main_card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

.card-1 {
  grid-column: span 4;
}
.card-2 {
  grid-column: span 4;
}
.card-3 {
  grid-column: span 4;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .card-1 {
    grid-column: span 6;
  }
  .card-2 {
    grid-column: span 6;
  }
  .card-3 {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_body {
    margin-top: -300px;
    padding-bottom: 50px;
  }
  .counter {
    padding-top: 300px;
  }
}
@media screen and (max-width: 768px) {
  .banner_text {
    font-size: 1.8rem;
    margin: 0 5px;
  }
  .card-1,
  .card-2,
  .card-3 {
    grid-column: span 12;
  }

  .count_card2,
  .count_card3 {
    margin-top: 0;
  }
  .card-3 {
    grid-column: span 12;
    /* display: none; */
  }
  .iframe_control {
    margin-left: 10px;
  }
  .count_image-border {
    width: 90%;
  }

  .home_body {
    margin-top: -400px;
  }
  .counter {
    padding-top: 450px;
  }
}
@media screen and (max-width: 320px) {
  .count_card {
    padding: 16px 5px;
  }
  .count_card-image {
    padding: 20px;
    border-radius: 10px;
    margin-right: 0px;
  }
  .count_card2,
  .count_card3 {
    margin-top: 0;
  }

  .home_body {
    margin-top: -350px;
  }
  .counter {
    padding-top: 350px;
  }
}
