.sub_footer-bg {
  background-image: url(../img/team/sub-footer.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* padding: 50px 50px; */
}
.sub_logo img {
  height: 25px;
  width: 25px;
}
.sub_logo a {
  text-decoration: none;
  text-transform: uppercase;
}

.contact_text {
  margin-left: 32px;
}
.social img {
  height: 34px;
  width: 34px;
}
footer {
  padding: 20px 0;
  background-color: #0d008b;
  color: #fff;
}
footer a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 15px;
  color: #fff;
}
footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footet_main{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;

}

@media screen and (max-width: 768px){
.footet1{
    grid-column: span 12;
    white-space: nowrap;
    

}
.footet2{
      grid-column: span 4;
    white-space: nowrap;

}
.footet3{
    grid-column: span 4;
    white-space: nowrap;

}
.footet4{
    grid-column: span 4;
    white-space: nowrap;

}
.footet5{
    grid-column: span 6;
    white-space: nowrap;

}
.footet6{
    grid-column: span 6;
    white-space: nowrap;

}

}