.sub_footer-bg {
  background-image: url(../img/team/sub-footer.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.sub_logo img {
  height: 25px;
  width: 25px;
}
.sub_logo a {
  text-decoration: none;
  text-transform: uppercase;
}

.contact_text {
  margin-left: 32px;
}
.social img {
  height: 34px;
  width: 34px;
}
footer {
  padding: 20px 0;
  background-color: #0d008b;
  color: #fff;
  white-space: nowrap;

}
footer a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 15px;
  color: #fff;
}
footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer1, .footer2, .footer3{
    display: inline-block;
    font-weight: 500;
    
}
@media screen and (max-width: 991px){
.footer1{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
  .footer2, .footer3{
  display: inline-block;
}
}
@media screen and (max-width: 767px){
.footer2{
  margin: 10px 0;
}
  .footer1, .footer2, .footer3{
    display: block;
    font-size: 14px;
    display: flex;
    justify-content: center;
    
}
.footer a {
  margin: 0 5px;
}
}