#game_logo4 {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}
#game_label-logo1,
#game_label-logo2 {
  width: 100px;
}
#game_label-logo1 {
  float: right;
  
}
#game_label-logo2 {
  
}
