#game_logo4 {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}
#game_label-logo1,
#game_label-logo2 {
  overflow-x: hidden;
}
#game_label-logo1 {
  display: flex;
  justify-content: end;
  /* margin-right: -10px; */
  margin-bottom: -100px;
}
#game_label-logo2 {
  display: flex;
  justify-content: start;
  margin-top: -100px;
  /* margin-left: -10px; */
}
