@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
font-family: "Rowdies", cursive;
font-family: 'Open Sans', sans-serif;
color: #ffffff;
}

header {
  padding: 10px 0;
  
}

.nav_log{
  width: 180px;
}
nav ul {
  float: right;
  margin: 4px;
}
nav ul li {
  display: inline-block;
  margin: 0 15px;
}
nav ul li a {
  position: relative;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}
nav ul li a:hover {
  color: white;
  

}
nav ul li a:before {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
  color: #fff;
}
label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  margin-top: 8px;
  display: none;
}
#toggle_button{
  float: right;
}
#check {
  display: none;
}

.nav_right-button{
    font-weight: 500;
}


@media screen and (max-width: 991px) {
  label #btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #34495e;
    top: 62px;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
    z-index: 1;
    padding: 0 !important;
    margin: 0 !important;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
  nav ul li {
    display: block;
    margin: 40px 0;
    line-height:20px;
  }
  nav ul li a {
    font-size: 20px;
  }
}