
.common_color{
  color: #BB6B24;
  font-size: 0.7rem;
}
.common_bg1{
  background-color: #3E1404;
}
.common_bg2{
  background-color: #BB6B24;
}
.money {
  background-image: url(../images/Base2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 50px;
}
.money_btn {
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 10px 10px;
  font-weight: 500;
  margin-left: 70px;
  white-space: nowrap;
}

.money_btn:hover {
  color: #fff;
}



.after_before-parent{
  position: relative;
}

.after_before1:before{
  content: "";
  width: 105px;
  height: 2px;
  border-radius: 5px;
  background: #ffffff;
  position: absolute;
  top: 14%;

}
.after_before2:before{
  content: "";
  width: 105px;
  height: 2px;
  border-radius: 5px;
  background: #ffffff;
  position: absolute;
  top: 7%;

}

.map_title{
  background-image: url(../images/road_map.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 70px;
}
.map_title h4{
  padding-top: 20px;
}
.Join_bg {
  background-image: url(../images/blur_image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 50px 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.card_partner {
  border: 1px solid rgba(128, 128, 128, 0.199);
}

.card_partner img {
  filter: grayscale(100%);
}
.card_partner img:hover {
  filter: grayscale(0%);
  cursor: pointer;
}


.input_bg {
  background-image: url(../images/Base1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 50px;
  text-align: center;
  color: #fff;
}
.input_bg span {
  color: #fff;
  font-weight: 500;
  border: none;
}


@media screen and (max-width: 600px){
.input_bg h1 {
  font-size:25px;
}

}
@media screen and (max-width: 458px){
.input_bg h1 {
  font-size:16px;
}
.input_bg input{
  width: 100%;
}

}
@media screen and (max-width: 320px){

.mony_text h2{
  font-size: 20px;
}
.mony_text p{
  font-size: 12px;
}
.money_btn {
  margin-left: 0px;
}
}