.money {
  background-image: url(../images/Base_d.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 50px;
}
.money_btn {
  border: none;
  background-color: blue;
  color: #fff;
  border-radius: 3px;
  padding: 10px 10px;
  font-weight: 500;
  margin-left: 70px;
  white-space: nowrap;
}



.Join_bg {
  background-image: url(../images/blur_image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.card_partner {
  border: 1px solid gray;
}
.card_partner:hover {
  cursor: pointer;
}

.input_bg {
  background-image: url(../images/Base_b.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 50px;
  text-align: center;
  color: #fff;
}
.input_bg span {
  background-color: #0012af;
  color: #fff;
  font-weight: 500;
  border: none;
}