@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'); */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
  overflow-x: hidden;
  font-family: "Rowdies", cursive;
  /* font-family: 'Open Sans', sans-serif; */
}
header {
  background-color: #000;
  padding: 15px 0;
  position: static;
}
.nav_logo {
  display: flex;
  align-items: center;
  display: inline-block;
}
.nav_logo > img {
  width: 30px;
  height: 30px;
}


nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  margin: 0 15px;
}
nav ul li a {
  position: relative;
  color: white;
  font-size: 18px;
  padding: 5px 0;
  text-transform: uppercase;
    text-decoration: none;

}
nav ul li a:hover {
  color: white;
  

}
nav ul li a:before {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
  color: #fff;
}
label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right !important;
  line-height: 80px;
  margin-top: 30px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.nav_right-button{
    background-color: #097AFC;
}
/* @media screen and (max-width: 1118px) {
  nav img {
    left: 8%;
  }
} */
@media screen and (max-width: 944px) {
  /* nav img {
    left: 6%;
    margin-top: 0px;
    width: 175px;
  } */
  /* nav ul li a {
    font-size: 16px;
  } */
}
@media screen and (max-width: 820px) {
  label #btn {
    display: block;
  }
 
 
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #34495e;
    top: 100px;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
  nav ul li {
    display: block;
    margin: 40px 0;
    line-height:20px;
  }
  nav ul li a {
    font-size: 20px;
  }
}
