.money {
  background-image: url(../images/Base2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 50px;
}
.money_btn {
  border: none;
  background-color: blue;
  color: #fff;
  border-radius: 3px;
  padding: 10px 10px;
  font-weight: 500;
  margin-left: 70px;
  white-space: nowrap;
}

.money_btn:hover {
  color: #fff;
}

.Join_bg {
  background-image: url(../images/blur_image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.card_partner {
  border: 1px solid rgba(128, 128, 128, 0.199);
}
.card_partner:hover {
  cursor: pointer;
}

.input_bg {
  background-image: url(../images/Base1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 50px;
  text-align: center;
  color: #fff;
}
.input_bg span {
  background-color: #0012af;
  color: #fff;
  font-weight: 500;
  border: none;
}


@media screen and (max-width: 600px){
.input_bg h1 {
  font-size:25px;
}

}
@media screen and (max-width: 458px){
.input_bg h1 {
  font-size:16px;
}
.input_bg input{
  width: 100%;
}

}
@media screen and (max-width: 320px){

.mony_text h2{
  font-size: 20px;
}
.mony_text p{
  font-size: 12px;
}
.money_btn {
  margin-left: 0px;
}
}