.team_main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 30px;

}

.team1, .team2, .team3 {
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.team2{
  margin-right: 14px;
}
.team_btn1,
.team_btn2,
.team_btn3 {
  background-color: #E4EFFF;
  color: black;
  position: absolute;
  z-index: 1;
  text-align: center;
  border-radius: 80px;
  white-space: nowrap;
}
.team_btn1:hover,
.team_btn2:hover,
.team_btn3:hover {
  background-color: #FFFFFF;
  transition: .5s;
}

.team_btn1 {
    padding: 40px 78px;
    margin-left: -22px;
    margin-top: -120px;
}
.team_btn2 {
    padding: 40px 86px;
    margin-top: -122px;
    margin-left: -12px;
}

.team_btn3 {
    padding: 40px 98px;
    margin-left: -18px;
    margin-top: -118px;
}

@media screen and (min-width: 1400px){
.team_btn1 {
    padding: 40px 90px;
    margin-left: -30px;
    margin-top: -120px;
}
.team_btn2 {
    padding: 40px 90px;
    margin-top: -122px;
    margin-left: -17px;
}
.team_btn3 {
    padding: 40px 110px;
    margin-left: -30px;
    margin-top: -118px;
}
}

}


@media screen and (max-width: 1200px){
.team1{
  margin-top: 85px;
}
  .team_btn1 {
    padding: 40px 56px;
    margin-left: -10px;
    margin-top: -125px;
}
.team_btn2 {
    padding: 40px 62px;
    margin-top: -100px;
    margin-left: -12px;
}
.team_btn3 {
    padding: 40px 80px;
    margin-left: -10px;
    margin-top: -110px;
}

}

@media screen and (max-width: 1024px){
.team_btn1 {
    padding: 40px 63px;
    margin-left: -14px;
    margin-top: -125px;
}
.team_btn2 {
    padding: 40px 63px;
    margin-top: -110px;
    margin-left: -10px;

}
.team_btn3 {
    padding: 40px 80px;
    margin-left: -12px;
    margin-top: -114px;
}

}

@media screen and (max-width: 992px){
.team1 {
  grid-column: span 6;
}
.team2 {
    grid-column: span 6;
    margin-right: 0;
}
.team3 {
    grid-column: span 12;

}
 .team_btn1 {
    padding: 40px 76px;
    margin-left: -14px;
    margin-top: -125px;
}
.team_btn2 {
    padding: 40px 88px;
    margin-top: -110px;
    margin-left: -8px;
}
.team_btn3 {
    padding: 40px 100px;
    margin-left: -20px;
    margin-top: -114px;
}

}

@media screen and (max-width: 768px){
.team1 {
  grid-column: span 12;
}
.team2 {
    grid-column: span 12;
    margin-right: 0;
}
.team3 {
    grid-column: span 12;
  

}
.team_btn1 {
    padding: 40px 90px;
    margin-left: -20px;
    margin-top: -120px;
}
.team_btn2 {
    padding: 40px 100px;
    margin-top: -114px;
    margin-left: -18px;

}
.team_btn3 {
    padding: 40px 108px;
    margin-left: -22px;
    margin-top: -116px;
}
}
@media screen and (max-width: 576px){
.team_btn1 {
    padding: 40px 90px;
    margin-left: -14px;
    margin-top: -130px;
}
.team_btn2 {
    padding: 40px 94px;
    margin-top: -130px;
    margin-left: -10px;

}
.team_btn3 {
    padding: 40px 100px;
    margin-top: -134px;
    margin-left: -10px;
}
}

@media screen and (max-width: 320px){

.team1 img{
  margin-left: 5px;
}
.team2{
 margin-right: 0;
  
}
.team2 img{
  width: 90%;
  margin-left: 15px;
  
}

.team_btn1 {
    padding: 40px 78px;
    margin-top: -135px;
    margin-left: -1px;
}
.team_btn2 {
    padding: 40px 80px;
    margin-top: -114px;
    margin-left: 9px;

}
.team_btn3 {
    padding: 40px 92px;
    margin-top: -118px;
    margin-left: -1px;

}

}